name: Autoupdate go.mod and go.sum

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

permissions:
  contents: write
  actions: write
  pull-requests: write

jobs:
  autoupdate:
    uses: lukaszraczylo/shared-actions/.github/workflows/go-autoupdate.yaml@main
    with:
      go-version: "1.24"
      release-workflow: "release.yaml"
    secrets:
      pat-token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
