name: Test, build, release

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '**/release.yaml'
      - 'action.yml'
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  release:
    uses: lukaszraczylo/shared-actions/.github/workflows/go-release.yaml@main
    with:
      go-version: "1.24"
      docker-enabled: true
      rolling-release-tag: "v1"
      semver-config: "config-release.yaml"
    secrets:
      homebrew-tap-token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
